h1, h2 {
      font-family: 'Molle';
      font-weight: 400;
      font-style: italic;
    }
    #coffee-scroller, #water-scroller {
      margin: 0 auto;
      width: auto;
    }
    .dw-inline {
      text-align: center;
    }
    .content {
      text-align: center;
    }
    h2 {
      font-size: 1.25em;
      -webkit-margin-after: 0.5em;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: 1em;
    }

    .dwbg {
      background: none;
    }
    .dwhl {
      margin-top: 0;
    }

    .countdownHolder {
      width: auto;
    }
    .dot {
    display: inline-block;
    width:18px;height:18px;
    border-radius:9px;
    background-color:#444;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: -.35em;
    }
    .dot-active {
        background-color: #888;
    }
    .dot-footer {
      text-align: center;
      background-color:rgba(0,0,0,0);
    }
    .ui-bar-a {
      background: none;
      border:none;
      padding-bottom: 2em;
    }
    .ui-footer .ui-btn {
      margin: .5em;
      top: 0;
    }
    .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
      border: none;
      background: none;
    }
    #start-timer-button {
      width: 12em;
    }
    body.touch-enabled .dot
    {
        width:12px;height:12px;
        border-radius:6px;
    }

    @media screen and (-moz-touch-enabled)
    {
      .dot
      {
        width:12px;height:12px;
        border-radius:6px;
      }

    }